#_bg__login_ {
	background:rgba(255,255,255,1);
    text-align: center;
    justify-content: center;
}
 
#rectangle_1 {
	height: 375px;
}

#rectangle_2 {
    background-color: rgba(156, 205, 212, 1);
    width: 500px;
    border-radius: 50px;
height: 520px;
margin: 0 auto;
margin-top: 0;
}