<div id="_bg__login_">
    <img src="../assets/img/LOGIN.jpg" id="rectangle_1">
    <div id="rectangle_2">
        <div id="first">Dobrodošli!</div> <br>
        <div id="second">Prijavite se kako biste nastavili.</div> <br><br>
        <label for="username" id="l1">Korisničko ime</label> <br>
        <input type="text" f placeholder="Unesite korisničko ime" id="username" name="username" [(ngModel)]="username"> <br> <br> <br>
        
        <label for="password" id="l2">Lozinka</label><br>
        <input type="password" placeholder="Unesite lozinku" id="password" name="password" [(ngModel)]="password"> <br><br>
        <p style="color: rgb(155, 28, 28);"><b>{{error}}</b></p>
        <button id="sign" (click)="signIn()">Prijava na sistem</button>
    </div>
</div>
