
<div id="main">
    <nav class="navbar navbar-expand-lg navbar-light">
      <img src="../assets/img/LOGIN.jpg"  id="img" alt="">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <span class="nav-link" style="font-size: 48px; color: #046978;">Šećerlema</span>
                </li>
                <li class="nav-item" *ngIf="type=='customer'">
                  <a class="nav-link" href="promocije" style="margin-left: 230px;">PROMOCIJE</a>
                </li>
                <li class="nav-item" *ngIf="type=='customer'"> 
                    <a class="nav-link" href="poslastice">POSLASTICE</a>
                  </li>
                  <li class="nav-item" *ngIf="type=='customer'">
                <u><a class="nav-link" href="o-nama">O NAMA</a></u>
                  </li>
                  <li class="nav-item" *ngIf="type=='customer'">
                    <a class="nav-link" href="moji-podaci">MOJI PODACI</a>
                  </li>
                  <li class="nav-item" *ngIf="type=='customer'">
                    <a class="nav-link" href="moja-korpa">MOJA KORPA</a>
                  </li>
                  <li class="nav-item" *ngIf="type=='customer'">
                    <a class="nav-link" href="obavestenja" id="bell"> <i class="far fa-bell"></i></a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="#" id="signout">  <i class="fas fa-sign-out-alt"></i></a>  
                  </li>
              </ul>
        </div>
    </nav>
    <br>
    <br>
    <h1 class="naslov">O NAMA</h1>
<div id="blue" style="display: flex; justify-content: space-between; ">
  <br>
  <div #map style="height: 500px; width: 400px; margin-left: 500px; margin-top: 30px;">
  </div>
  <p style=" width: 400px; margin-right: 500px; float: inline-end; margin-top: 100px; color: white !important; font-size: 30px; font-family: 'Inter';">
  <u><b>Kontakt telefon</b></u><br>011/2610-232 <br>
  <br>
  <u><b>Adresa</b></u><br>Knez Mihajlova 1, Beograd
  </p>
</div>
</div>