
<div id="main">
    <nav class="navbar navbar-expand-lg navbar-light">
      <img src="../assets/img/LOGIN.jpg"  id="img" alt="">
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
      
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item active">
                    <span class="nav-link" style="font-size: 48px; color: #046978;">Šećerlema</span>
                </li>
                <li class="nav-item">
                  <a class="nav-link" href="promocije" style="margin-left: 230px;">PROMOCIJE</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="poslastice">POSLASTICE</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="o-nama">O NAMA</a>
                  </li>
                  <li class="nav-item">
                    <a class="nav-link" href="moji-podaci">MOJI PODACI</a>
                  </li>
                  <li class="nav-item">
                <u><a class="nav-link" href="moja-korpa">MOJA KORPA</a></u>
                  </li>
              </ul>
        </div>
    </nav>
    <br>
    <br>
    <h1 class="naslov">MOJA KORPA</h1>
<div id="blue"></div>
</div>